/*引入material自定义主题支持*/
@import '~@angular/material/theming';
/*引入material公用的主题风格*/
@include mat-core();
/*这是我设置的默认主题哦*/
/*$my-app-primary: mat-palette($mat-deep-purple,800);
$my-app-accent: mat-palette($mat-orange,900);
$my-app-warn: mat-palette($mat-red,A700);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);
*/

// 自定义颜色
/*$my-toolbar-primary: mat-palette($mat-grey,900);
$my-toolbar-accent: mat-palette($mat-amber, A200, A100, A400);
$my-toolbar-warn: mat-palette($mat-red,600);*/


// 利用自定义颜色组装自定义主题
/*$my-toolbar-theme: mat-light-theme($my-toolbar-primary, $my-toolbar-accent, $my-toolbar-warn);
@include mat-toolbar-theme($my-toolbar-theme);

.myapp-default-theme{
	@include angular-material-theme($my-app-theme);
	@include mat-toolbar-theme($my-toolbar-theme);
}*/





// 自定义颜色
/*$my-dark-primary: mat-palette($mat-purple,600);
$my-dark-accent: mat-palette($mat-amber, A200, A100, A400);
$my-dark-warn: mat-palette($mat-red,600);
$my-dark-toolbar-primary: mat-palette($mat-deep-purple,700);
$my-dark-toolbar-accent: mat-palette($mat-amber, A200, A100, A400);
$my-dark-toolbar-warn: mat-palette($mat-red,600);*/

// 利用自定义颜色组装自定义主题
/*$my-dark-theme: mat-dark-theme($my-dark-primary, $my-dark-accent, $my-dark-warn);
$my-dark-toolbar-theme: mat-light-theme($my-dark-toolbar-primary, $my-dark-toolbar-accent, $my-dark-toolbar-warn);
*/
// 设置自定义主题，使其生效
/*.myapp-dark-theme {
    @include angular-material-theme($my-dark-theme);
    @include mat-toolbar-theme($my-dark-toolbar-theme);
}*/


/*
$my-blue-primary: mat-palette($mat-blue,900);
$my-blue-accent: mat-palette($mat-pink,400);
$my-blue-warn: mat-palette($mat-red,500);
$my-blue-theme: mat-light-theme($my-blue-primary, $my-blue-accent, $my-blue-warn);
.myapp-blue-theme {
    @include angular-material-theme($my-blue-theme);
}*/